@import url('./nav-btn.css');

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.64em;
}
@media only screen and (max-width: 768px){
    nav {
        display: flex;
        height: 0%;
        width: 100%;
        justify-content: center;
        margin-top: 49.62px;
        margin: 9px solid red;
    }
}
